

<nav class="navbar navbar-toggleable-md navbar-inverse navbar-fixed-top bg-inverse">

  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a  class="navbar-brand" routerLink="/">Jokester</a>


    <div class="collapse navbar-collapse" id="navbar">



      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/articles">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/switch">Switch</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/style">Style</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/observe">Observe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/async">Async</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/bat">Battery</a>
      </li>
      </ul>
    </div>
  </div>

</nav>
<div class="container">
<router-outlet></router-outlet>

</div>
