<ul *ngFor="let person of people">
  <li [ngStyle]="{'font-size.px': 24}"
    [style.background-color]="getColor(person.country)"
  [style.color]="getStyleColor(person.country)"
  [style.font-size.px]="changeAgeFonstSize(person.country)"
  [ngClass]="{'uk':person.country === 'UK',
  'boxing':person.country === 'USA'
  }">
    {{person.name}} {{person.country}} ({{person.age}})
  </li>
</ul>
<div class="card-block" *ngFor="let a of l">
  <button (click)="history($event)" class="btn btn-success" id="{{a}}">{{a}}</button></div>
