<app-jokeform
  (jokeCreated)="addJoke($event)"></app-jokeform>
<div class="card card-block"
     *ngFor="let joke of jokes">
  <h4 class="card-title">{{joke.setup}}</h4>
  <p class="card-text" [hidden]="joke.hide">{{joke.punchline}}</p>
<a class="btn btn-primary" *ngIf="joke.hide" (click)="joke.toggle()">Tell Me!</a>
  <a class="btn btn-outline-primary" *ngIf="!joke.hide" (click)="joke.toggle()">Close Me!</a>
  <a class="btn btn-outline-danger" *ngIf="!joke.hide" (click)="deleteJoke(joke )">Delete Me!</a>

</div>
